Repository boostcampwm2023/and09-PriceGuard, pull requests merged in 2023-11, with the labels that each got.

#63 안드로이드 프로젝트 초기설정
  android/.gitignore
  android/.idea/.gitignore
  android/.idea/compiler.xml
  android/.idea/gradle.xml
  android/.idea/kotlinc.xml
  android/.idea/misc.xml
  android/.idea/vcs.xml
  android/app/.gitignore
  android/app/build.gradle
  android/app/google-services.json
  android/app/proguard-rules.pro
  android/app/src/androidTest/java/app/priceguard/ExampleInstrumentedTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/MainActivity.kt
  android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/app/src/main/res/xml/backup_rules.xml
  android/app/src/main/res/xml/data_extraction_rules.xml
  android/app/src/test/java/app/priceguard/ExampleUnitTest.kt
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/settings.gradle
Labels: android

#62 NestJS 프로젝트 초기 설정
  backend/.eslintrc.js
  backend/.gitignore
  backend/.prettierrc
  backend/README.md
  backend/nest-cli.json
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
Labels: backend

#66 안드로이드 워크플로우 구축
  .github/workflows/firebase-deploy.yml
  .github/workflows/ktlint.yml
  .gitignore
  android/.editorconfig
  android/.gitignore
  android/.idea/.name
  android/.idea/gradle.xml
  android/.idea/misc.xml
  android/app/build.gradle
  android/app/src/androidTest/java/app/priceguard/ExampleInstrumentedTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/ic_priceguard-playstore.png
  android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  android/app/src/main/res/drawable/ic_back.xml
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/drawable/ic_priceguard_foreground.xml
  android/app/src/main/res/layout/activity_intro.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_signup.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_priceguard.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_priceguard_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-hdpi/ic_priceguard.webp
  android/app/src/main/res/mipmap-hdpi/ic_priceguard_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_priceguard.webp
  android/app/src/main/res/mipmap-mdpi/ic_priceguard_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_priceguard.webp
  android/app/src/main/res/mipmap-xhdpi/ic_priceguard_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_priceguard.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_priceguard_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_priceguard.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_priceguard_round.webp
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/ic_priceguard_background.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/app/src/test/java/app/priceguard/ExampleUnitTest.kt
  android/gradlew
Labels: android, infra

#67 워크플로우 오류 수정
  .github/workflows/firebase-deploy.yml
  .github/workflows/ktlint.yml
Labels: infra

#68 워크플로우 출시 노트 추가, Job 이름 변경
  .github/workflows/firebase-deploy.yml
  .github/workflows/ktlint.yml
  android/app/build.gradle
  android/release_notes.txt
Labels: android, infra

#71 초기 화면 화면 전환 기능 추가
  android/app/src/main/java/app/priceguard/ui/intro/IntroActivity.kt
  android/app/src/main/java/app/priceguard/ui/util/lifecycle/LifecycleExtensions.kt
Labels: feature, android

#70 backend CI/CD 워크플로우 설정
  .github/workflows/backend-deploy.yml
  .github/workflows/backend-eslint-ci.yml
  backend/Dockerfile
Labels: backend, infra

#74 로그인 화면 생성, 이메일/비밀번호 유효성 검사, 회원가입 화면으로 전환
  android/app/build.gradle.kts
  android/app/src/main/java/app/priceguard/ui/login/LoginActivity.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginViewModel.kt
  android/app/src/main/java/app/priceguard/ui/util/lifecycle/LifecycleExtensions.kt
  android/app/src/main/res/layout/activity_intro.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/app/src/main/res/values/themes.xml
Labels: feature, android

#73 회원가입 입력 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/ui/signup/SignupActivity.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupViewModel.kt
  android/app/src/main/res/drawable/ic_back.xml
  android/app/src/main/res/layout/activity_signup.xml
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/app/src/main/res/values/themes.xml
Labels: feature, android

#76 내 정보 화면 ui 구현
  android/app/src/main/java/app/priceguard/ui/mypage/MyPageFragment.kt
  android/app/src/main/java/app/priceguard/ui/mypage/MyPageSettingAdapter.kt
  android/app/src/main/java/app/priceguard/ui/mypage/SettingInfo.kt
  android/app/src/main/res/drawable/bg_circle.xml
  android/app/src/main/res/drawable/ic_light_mode.xml
  android/app/src/main/res/drawable/ic_logout.xml
  android/app/src/main/res/drawable/ic_notification.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/item_my_page_list.xml
  android/app/src/main/res/values/strings.xml
Labels: feature, android

#75 회원가입 api 구현
  backend/.eslintrc.js
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/configs/typeorm.config.ts
  backend/src/exceptions/exception.fillter.ts
  backend/src/exceptions/validation.exception.ts
  backend/src/exceptions/validation.user.pipe.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.entity.ts
  backend/src/user/user.module.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.service.ts
Labels: feature, backend

#77 Repository 생성 및 API 통신
  android/.idea/kotlinc.xml
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/MainActivity.kt
  android/app/src/main/java/app/priceguard/data/dto/LoginRequest.kt
  android/app/src/main/java/app/priceguard/data/dto/LoginResponse.kt
  android/app/src/main/java/app/priceguard/data/dto/SignUpRequest.kt
  android/app/src/main/java/app/priceguard/data/dto/SignUpResponse.kt
  android/app/src/main/java/app/priceguard/data/network/APIResult.kt
  android/app/src/main/java/app/priceguard/data/network/RetrofitBuilder.kt
  android/app/src/main/java/app/priceguard/data/network/UserAPI.kt
  android/app/src/main/java/app/priceguard/data/repository/UserRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/UserRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginActivity.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginViewModel.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupActivity.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupViewModel.kt
  android/app/src/main/res/values/strings.xml
  android/build.gradle.kts
Labels: feature, android

#78 로그인 api 구현
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/login.dto.ts
  backend/src/configs/typeorm.config.ts
  backend/src/constants.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.service.ts
  backend/tsconfig.json
Labels: feature, backend

#79 상하좌우 여백 없는 벡터 리소스로 로고 변경
  android/app/src/main/res/drawable/ic_priceguard_original.xml
  android/app/src/main/res/layout/activity_intro.xml
  android/app/src/main/res/layout/activity_login.xml
Labels: bug, android

#80 URL 수정 및 로그인 다이얼로그 로딩 버튼 버그 수정
  android/app/src/main/java/app/priceguard/data/network/UserAPI.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginActivity.kt
Labels: android

#81 안드로이드 로그인 /회원가입 화면 구현
  .github/pull_request_template.md
  android/.idea/kotlinc.xml
  android/app/build.gradle
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/MainActivity.kt
  android/app/src/main/java/app/priceguard/data/dto/LoginRequest.kt
  android/app/src/main/java/app/priceguard/data/dto/LoginResponse.kt
  android/app/src/main/java/app/priceguard/data/dto/SignUpRequest.kt
  android/app/src/main/java/app/priceguard/data/dto/SignUpResponse.kt
  android/app/src/main/java/app/priceguard/data/network/APIResult.kt
  android/app/src/main/java/app/priceguard/data/network/RetrofitBuilder.kt
  android/app/src/main/java/app/priceguard/data/network/UserAPI.kt
  android/app/src/main/java/app/priceguard/data/repository/UserRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/UserRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/ui/intro/IntroActivity.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginActivity.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginViewModel.kt
  android/app/src/main/java/app/priceguard/ui/mypage/MyPageFragment.kt
  android/app/src/main/java/app/priceguard/ui/mypage/MyPageSettingAdapter.kt
  android/app/src/main/java/app/priceguard/ui/mypage/SettingInfo.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupActivity.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupViewModel.kt
  android/app/src/main/java/app/priceguard/ui/util/lifecycle/LifecycleExtensions.kt
  android/app/src/main/res/drawable/bg_circle.xml
  android/app/src/main/res/drawable/ic_back.xml
  android/app/src/main/res/drawable/ic_light_mode.xml
  android/app/src/main/res/drawable/ic_logout.xml
  android/app/src/main/res/drawable/ic_notification.xml
  android/app/src/main/res/drawable/ic_priceguard_original.xml
  android/app/src/main/res/layout/activity_intro.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_signup.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/item_my_page_list.xml
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/app/src/main/res/values/themes.xml
  android/build.gradle
  android/build.gradle.kts
Labels: feature, android, infra

#82 백엔드 NCP 서버 구축, CD 구현, 회원가입 및 로그인 api 구현
  .github/workflows/backend-deploy.yml
  README.md
  backend/.eslintrc.js
  backend/.gitignore
  backend/Dockerfile
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/login.dto.ts
  backend/src/configs/typeorm.config.ts
  backend/src/constants.ts
  backend/src/exceptions/exception.fillter.ts
  backend/src/exceptions/validation.exception.ts
  backend/src/exceptions/validation.user.pipe.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.entity.ts
  backend/src/user/user.module.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.service.ts
  backend/tsconfig.json
Labels: feature, backend, infra, docs

#88 Circular Progress Indicator 색상을 올바른 컬러 코드로 변경
  android/app/src/main/res/values/styles.xml
Labels: bug, android

#86 [로그인 화면] NestedScrollView로 가로 화면 대응
  android/app/src/main/res/layout-land/activity_login.xml
  android/app/src/main/res/layout/activity_login.xml
Labels: feature, android

#87 Intro Activity 가로 화면 대응 추가
  android/app/src/main/res/layout-land/activity_intro.xml
  android/app/src/main/res/layout/activity_intro.xml
Labels: bug, android

#90 Hilt 적용 및 토큰 DataSource & Repository 생성
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/data/datastore/TokenDataSource.kt
  android/app/src/main/java/app/priceguard/data/datastore/TokenDataSourceImpl.kt
  android/app/src/main/java/app/priceguard/data/network/RetrofitBuilder.kt
  android/app/src/main/java/app/priceguard/data/repository/TokenRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/TokenRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/data/repository/UserRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/di/DataStoreModule.kt
  android/app/src/main/java/app/priceguard/di/NetworkModule.kt
  android/app/src/main/java/app/priceguard/di/TokenDataSourceModule.kt
  android/app/src/main/java/app/priceguard/di/TokenRepositoryModule.kt
  android/app/src/main/java/app/priceguard/di/UserRepositoryModule.kt
  android/app/src/main/java/app/priceguard/ui/PriceGuardApp.kt
  android/app/src/main/java/app/priceguard/ui/intro/IntroActivity.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginActivity.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginViewModel.kt
  android/app/src/main/java/app/priceguard/ui/main/MainActivity.kt
  android/app/src/main/java/app/priceguard/ui/mypage/MyPageFragment.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupActivity.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupViewModel.kt
  android/app/src/main/res/layout/activity_main.xml
  android/build.gradle.kts
Labels: feature, android

#89 API 문서화
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/login.dto.ts
  backend/src/dto/login.dto.ts
  backend/src/dto/swagger.dto.ts
  backend/src/dto/user.dto.ts
  backend/src/entities/user.entity.ts
  backend/src/main.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.service.ts
Labels: feature, backend, docs

#94 서버 로그 파일 생성
  .github/workflows/backend-deploy.yml
  backend/Dockerfile
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/configs/winston.config.ts
  backend/src/exceptions/exception.fillter.ts
Labels: feature, backend

#91 Circular Progress Indicator 통일
  android/app/src/main/java/app/priceguard/ui/login/LoginActivity.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginViewModel.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupActivity.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupViewModel.kt
  android/app/src/main/java/app/priceguard/ui/util/drawable/ProgressIndicator.kt
Labels: bug, android, enhancement

#92 Lifecycle 유틸 함수 사용
  android/app/src/main/java/app/priceguard/ui/signup/SignupActivity.kt
Labels: android, enhancement

#96 상품 추가 화면 구현
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/data/dto/ProductInfo.kt
  android/app/src/main/java/app/priceguard/ui/main/additem/AddItemActivity.kt
  android/app/src/main/java/app/priceguard/ui/main/additem/ConfirmItemLinkFragment.kt
  android/app/src/main/java/app/priceguard/ui/main/additem/ConfirmItemLinkViewModel.kt
  android/app/src/main/java/app/priceguard/ui/main/additem/RegisterItemLinkFragment.kt
  android/app/src/main/java/app/priceguard/ui/main/additem/SetTargetPriceFragment.kt
  android/app/src/main/res/drawable/bg_round_corner.xml
  android/app/src/main/res/drawable/ic_11st_logo.xml
  android/app/src/main/res/drawable/ic_close.xml
  android/app/src/main/res/drawable/ic_next.xml
  android/app/src/main/res/layout/activity_add_item.xml
  android/app/src/main/res/layout/fragment_confirm_item_link.xml
  android/app/src/main/res/layout/fragment_register_item_link.xml
  android/app/src/main/res/layout/fragment_set_target_price.xml
  android/app/src/main/res/navigation/nav_graph.xml
  android/app/src/main/res/values/strings.xml
Labels: feature, android

#93 SplashScreen 구현, 로그인 & 회원가입 시 토큰 저장
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/data/dto/LoginResponse.kt
  android/app/src/main/java/app/priceguard/data/dto/SignupRequest.kt
  android/app/src/main/java/app/priceguard/data/dto/SignupResponse.kt
  android/app/src/main/java/app/priceguard/data/network/UserAPI.kt
  android/app/src/main/java/app/priceguard/data/repository/UserRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/UserRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginActivity.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginViewModel.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupActivity.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupViewModel.kt
  android/app/src/main/java/app/priceguard/ui/splash/SplashScreenActivity.kt
  android/app/src/main/res/layout/activity_splash_screen.xml
  android/app/src/main/res/values-v31/styles.xml
Labels: feature, android

#100 상품 API 문서 작업
  backend/src/app.module.ts
  backend/src/dto/product.details.dto.ts
  backend/src/dto/product.dto.ts
  backend/src/dto/product.swagger.dto.ts
  backend/src/dto/product.url.dto.ts
  backend/src/dto/user.swagger.dto.ts
  backend/src/entities/product.entity.ts
  backend/src/product/product.controller.spec.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.module.ts
  backend/src/product/product.service.spec.ts
  backend/src/product/product.service.ts
  backend/src/user/user.controller.ts
Labels: feature, backend, docs

#99 사용자 인증 및 JWT 갱신 기능 구현
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt/jwt.repository.ts
  backend/src/auth/jwt/jwt.service.ts
  backend/src/auth/jwt/jwt.strategy.ts
  backend/src/dto/auth.swagger.dto.ts
  backend/src/entities/token.entity.ts
  backend/src/entities/user.entity.ts
  backend/src/exceptions/auth.exception.ts
  backend/src/user/user.service.ts
Labels: feature, backend

#102 Token 엔터티 이름 지정
  backend/src/entities/token.entity.ts
Labels: bug, backend

#103 상품 URL 검증 API 구현
  backend/package-lock.json
  backend/package.json
  backend/src/constants.ts
  backend/src/dto/product.details.dto.ts
  backend/src/dto/product.swagger.dto.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.service.ts
  backend/src/utils/openapi.11st.ts
Labels: feature, backend

#104 URL 검사 정규 표현식 수정
  backend/src/product/product.service.ts
Labels: bug, backend

#106 [목록 화면, 상품 추가 화면] Repository 추가 및 기본 세팅
  android/app/src/main/java/app/priceguard/data/dto/ProductAddRequest.kt
  android/app/src/main/java/app/priceguard/data/dto/ProductDTO.kt
  android/app/src/main/java/app/priceguard/data/dto/ProductListResponse.kt
  android/app/src/main/java/app/priceguard/data/dto/ProductResponse.kt
  android/app/src/main/java/app/priceguard/data/dto/ProductVerifyRequest.kt
  android/app/src/main/java/app/priceguard/data/network/ProductAPI.kt
  android/app/src/main/java/app/priceguard/data/network/RequestInterceptor.kt
  android/app/src/main/java/app/priceguard/data/repository/ProductRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/ProductRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/di/NetworkModule.kt
  android/app/src/main/java/app/priceguard/di/ProductRepositoryModule.kt
  android/app/src/main/java/app/priceguard/ui/main/additem/AddItemActivity.kt
  android/app/src/main/java/app/priceguard/ui/main/additem/RegisterItemLinkFragment.kt
Labels: feature, android

#105 사용자 추적 상품 전체 목록 조회 API 구현
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt/jwt.strategy.ts
  backend/src/dto/product.swagger.dto.ts
  backend/src/dto/product.tracking.dto.ts
  backend/src/entities/product.entity.ts
  backend/src/entities/trackingProduct.entity.ts
  backend/src/entities/user.entity.ts
  backend/src/exceptions/http.exception.filter.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.module.ts
  backend/src/product/product.service.ts
Labels: feature, backend

#107 피드백 반영 및 오류 수정
  backend/src/auth/auth.service.ts
  backend/src/exceptions/http.exception.filter.ts
  backend/src/product/product.service.ts
Labels: bug, backend, enhancement

#101 Splash Screen API 적용 및 토큰 갱신 로직 추가
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/data/dto/RenewResponse.kt
  android/app/src/main/java/app/priceguard/data/network/AuthAPI.kt
  android/app/src/main/java/app/priceguard/data/repository/TokenRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/TokenRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/di/NetworkModule.kt
  android/app/src/main/java/app/priceguard/di/ProductRepositoryModule.kt
  android/app/src/main/java/app/priceguard/di/TokenRepositoryModule.kt
  android/app/src/main/java/app/priceguard/ui/splash/SplashScreenActivity.kt
  android/app/src/main/java/app/priceguard/ui/splash/SplashScreenViewModel.kt
  android/app/src/main/res/values-v31/styles.xml
Labels: android, enhancement

#109 상품 추가 API 구현
  backend/src/dto/product.add.dto.ts
  backend/src/dto/product.dto.ts
  backend/src/dto/product.swagger.dto.ts
  backend/src/entities/product.entity.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.module.ts
  backend/src/product/product.repository.ts
  backend/src/product/product.service.ts
  backend/src/product/trackingProduct.repository.ts
  backend/src/utils/openapi.11st.ts
Labels: feature, backend

#112 추적 상품 삭제 API 구현
  backend/src/dto/product.swagger.dto.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.service.ts
Labels: feature, backend

#111 상품 상세 레이아웃 및 Activity 생성
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/ui/detail/DetailActivity.kt
  android/app/src/main/res/color/primary_elevated_button_ripple_color_selector.xml
  android/app/src/main/res/drawable/ic_delete.xml
  android/app/src/main/res/drawable/ic_edit.xml
  android/app/src/main/res/drawable/ic_shopping_mall.xml
  android/app/src/main/res/drawable/ic_track.xml
  android/app/src/main/res/layout/activity_detail.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: feature, android

#113 상품 API 내부 에러 핸들링 코드 작성
  backend/src/dto/product.add.dto.ts
  backend/src/exceptions/exception.fillter.ts
  backend/src/exceptions/validation.pipe.ts
  backend/src/main.ts
  backend/src/user/user.controller.ts
Labels: bug, backend

#114 Firebase Crashlytics, Performance Monitoring SDK 추가
  android/app/build.gradle.kts
  android/build.gradle.kts
Labels: feature, android

#117 목표 가격 수정 API 구현
  backend/src/dto/product.swagger.dto.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.service.ts
Labels: feature, backend

#110 [홈 화면] API 연동 작업
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/data/dto/ProductDTO.kt
  android/app/src/main/java/app/priceguard/data/dto/ProductListResponse.kt
  android/app/src/main/java/app/priceguard/data/dto/UserDataDTO.kt
  android/app/src/main/java/app/priceguard/data/repository/ProductRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/ProductRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/data/repository/TokenRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/TokenRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/di/ProductRepositoryModule.kt
  android/app/src/main/java/app/priceguard/ui/additem/AddItemActivity.kt
  android/app/src/main/java/app/priceguard/ui/additem/ConfirmItemLinkFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/ConfirmItemLinkViewModel.kt
  android/app/src/main/java/app/priceguard/ui/additem/RegisterItemLinkFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/SetTargetPriceFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/ProductSummary.kt
  android/app/src/main/java/app/priceguard/ui/home/ProductSummaryAdapter.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductViewModel.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginActivity.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupActivity.kt
  android/app/src/main/java/app/priceguard/ui/splash/SplashScreenActivity.kt
  android/app/src/main/java/app/priceguard/ui/util/lifecycle/LifecycleExtensions.kt
  android/app/src/main/java/app/priceguard/ui/util/ui/DisableAppBarScroll.kt
  android/app/src/main/java/app/priceguard/ui/util/ui/NetworkDialog.kt
  android/app/src/main/java/app/priceguard/ui/util/ui/drawable/ProgressIndicator.kt
  android/app/src/main/res/layout/fragment_confirm_item_link.xml
  android/app/src/main/res/layout/fragment_product_list.xml
  android/app/src/main/res/layout/fragment_recommended_product.xml
  android/app/src/main/res/layout/item_my_page_list.xml
  android/app/src/main/res/layout/item_product_summary.xml
  android/app/src/main/res/navigation/nav_graph.xml
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/app/src/main/res/values/themes.xml
Labels: feature, android

#122 인기 상품 목록 API 구현
  backend/src/dto/product.details.dto.ts
  backend/src/dto/product.swagger.dto.ts
  backend/src/entities/trackingProduct.entity.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.service.ts
  backend/src/product/trackingProduct.repository.ts
Labels: feature, backend

#125 제품 상세정보 현재 트래킹 순위 반영
  backend/src/constants.ts
  backend/src/product/product.service.ts
  backend/src/product/trackingProduct.repository.ts
Labels: feature, backend

#126 3주차 스프린트 기능 반영
  .github/workflows/backend-deploy.yml
  backend/Dockerfile
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/login.dto.ts
  backend/src/auth/jwt/jwt.repository.ts
  backend/src/auth/jwt/jwt.service.ts
  backend/src/auth/jwt/jwt.strategy.ts
  backend/src/configs/winston.config.ts
  backend/src/constants.ts
  backend/src/dto/auth.swagger.dto.ts
  backend/src/dto/login.dto.ts
  backend/src/dto/product.add.dto.ts
  backend/src/dto/product.details.dto.ts
  backend/src/dto/product.dto.ts
  backend/src/dto/product.info.dto.ts
  backend/src/dto/product.swagger.dto.ts
  backend/src/dto/product.tracking.dto.ts
  backend/src/dto/product.url.dto.ts
  backend/src/dto/user.dto.ts
  backend/src/dto/user.swagger.dto.ts
  backend/src/entities/product.entity.ts
  backend/src/entities/token.entity.ts
  backend/src/entities/trackingProduct.entity.ts
  backend/src/entities/user.entity.ts
  backend/src/exceptions/exception.fillter.ts
  backend/src/exceptions/http.exception.filter.ts
  backend/src/exceptions/validation.pipe.ts
  backend/src/main.ts
  backend/src/product/product.controller.spec.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.module.ts
  backend/src/product/product.repository.ts
  backend/src/product/product.service.spec.ts
  backend/src/product/product.service.ts
  backend/src/product/trackingProduct.repository.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.service.ts
  backend/src/utils/openapi.11st.ts
Labels: feature, bug, backend, infra, enhancement

#119 인증 실패 다이얼로그 강제 로그아웃
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductFragment.kt
  android/app/src/main/java/app/priceguard/ui/util/ui/NetworkDialog.kt
  android/app/src/main/res/values/strings.xml
Labels: android

#129 상품 인기 순위 섞이는 버그 수정
  backend/src/product/trackingProduct.repository.ts
Labels: bug, backend

#121 오픈소스 라이선스 라이브러리 추가
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageFragment.kt
  android/app/src/main/res/values/styles.xml
  android/build.gradle.kts
Labels: feature, android, future

#128 가격 문자열 형태, 초기 목표 가격수정, 목표 가격 초기화 시 꺼지는 버그 수정
  android/app/src/main/java/app/priceguard/ui/additem/confirm/ConfirmItemLinkFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/confirm/ConfirmItemLinkViewModel.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageViewModel.kt
  android/app/src/main/res/layout/fragment_confirm_item_link.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/fragment_set_target_price.xml
  android/app/src/main/res/values/strings.xml
Labels: bug, android

#130 3주차 스프린트에서 기능 추가 및 버그 수정
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/ui/additem/confirm/ConfirmItemLinkFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/confirm/ConfirmItemLinkViewModel.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageViewModel.kt
  android/app/src/main/res/layout/fragment_confirm_item_link.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/fragment_set_target_price.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/build.gradle.kts
  android/release_notes.txt
Labels: bug, android, enhancement

#132 Ping API 구현
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
Labels: feature, backend

#134 최신 refreshToken 무효화, 상품 목록 API 응답 내용 수정, swagger 수정
  backend/src/auth/jwt/jwt.service.ts
  backend/src/auth/jwt/jwt.strategy.ts
  backend/src/constants.ts
  backend/src/dto/auth.swagger.dto.ts
  backend/src/dto/product.swagger.dto.ts
  backend/src/dto/product.tracking.dto.ts
  backend/src/dto/user.swagger.dto.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.service.ts
Labels: feature, backend, docs

#136 새로고침이 가능해야한 페이지에 위로 당겨서 새로고침 구현
  android/app/build.gradle.kts
  android/app/src/main/java/app/priceguard/ui/detail/DetailActivity.kt
  android/app/src/main/java/app/priceguard/ui/detail/ProductDetailViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductViewModel.kt
  android/app/src/main/res/layout/activity_detail.xml
  android/app/src/main/res/layout/fragment_product_list.xml
  android/app/src/main/res/layout/fragment_recommended_product.xml
  android/app/src/main/res/menu/list_top_app_bar_menu.xml
Labels: feature, android, enhancement

#137 목표 가격 수정 구현 및 화면 이동 적용
  android/app/src/main/java/app/priceguard/data/dto/PricePatchRequest.kt
  android/app/src/main/java/app/priceguard/data/dto/PricePatchResponse.kt
  android/app/src/main/java/app/priceguard/data/dto/ProductDTO.kt
  android/app/src/main/java/app/priceguard/data/network/ProductAPI.kt
  android/app/src/main/java/app/priceguard/data/repository/ProductRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/ProductRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/ui/additem/AddItemActivity.kt
  android/app/src/main/java/app/priceguard/ui/additem/confirm/ConfirmItemLinkFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceViewModel.kt
  android/app/src/main/java/app/priceguard/ui/detail/DetailActivity.kt
  android/app/src/main/res/layout/fragment_set_target_price.xml
  android/app/src/main/res/navigation/nav_graph.xml
Labels: feature, android

#139 자동 새로고침 구현
  android/app/src/main/java/app/priceguard/ui/detail/DetailActivity.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductViewModel.kt
Labels: android, enhancement

#138 상품 목록, 인기 상품 화면 UI 변경
  android/app/src/main/java/app/priceguard/ui/home/ProductSummary.kt
  android/app/src/main/java/app/priceguard/ui/home/ProductSummaryAdapter.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductViewModel.kt
  android/app/src/main/res/layout/item_product_summary.xml
  android/app/src/main/res/values/strings.xml
Labels: android, enhancement

#140 링크 검사, 가격 설정 화면 에러 처리 추가
  android/app/src/main/java/app/priceguard/data/dto/ProductDTO.kt
  android/app/src/main/java/app/priceguard/data/dto/ProductDeleteResponse.kt
  android/app/src/main/java/app/priceguard/data/dto/ProductErrorState.kt
  android/app/src/main/java/app/priceguard/data/dto/ProductInfo.kt
  android/app/src/main/java/app/priceguard/data/dto/ProductListResponse.kt
  android/app/src/main/java/app/priceguard/data/dto/ProductResponse.kt
  android/app/src/main/java/app/priceguard/data/dto/ProductVerifyDTO.kt
  android/app/src/main/java/app/priceguard/data/dto/ProductVerifyResponse.kt
  android/app/src/main/java/app/priceguard/data/dto/RecommendProductDTO.kt
  android/app/src/main/java/app/priceguard/data/dto/RecommendProductResponse.kt
  android/app/src/main/java/app/priceguard/data/network/ProductRepositoryResult.kt
  android/app/src/main/java/app/priceguard/data/repository/ProductRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/ProductRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/ui/additem/link/RegisterItemLinkFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/link/RegisterItemLinkViewModel.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceViewModel.kt
  android/app/src/main/java/app/priceguard/ui/detail/DetailActivity.kt
  android/app/src/main/java/app/priceguard/ui/detail/ProductDetailViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductViewModel.kt
  android/app/src/main/java/app/priceguard/ui/util/ui/NetworkDialog.kt
  android/app/src/main/res/layout/fragment_set_target_price.xml
  android/app/src/main/res/values/strings.xml
Labels: feature, android

#142 mongoDB 연결 및 연동 테스트 API
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/constants.ts
  backend/src/dto/product.price.dto.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.module.ts
  backend/src/product/product.service.ts
  backend/src/schema/product.schema.ts
Labels: feature, backend

#143 MongoDB Schema 및 Swagger 수정
  backend/src/constants.ts
  backend/src/dto/product.swagger.dto.ts
  backend/src/product/product.controller.ts
  backend/src/schema/product.schema.ts
Labels: bug, backend, docs

#144 상품 정보 cache 추가, 일정 기간 상품 정보 조회 추가
  backend/src/constants.ts
  backend/src/dto/price.data.dto.ts
  backend/src/dto/product.details.dto.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.service.ts
Labels: feature, backend

#145 주기적으로 상품 정보 조회 및 DB에 최신 정보 반영
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/product/product.service.ts
  backend/src/utils/openapi.11st.ts
Labels: feature, backend

#150 서브모듈까지 레포를 받아오게끔 수정
  .github/workflows/firebase-deploy.yml
Labels: infra
