Repository boostcampwm2023/and09-PriceGuard, pull requests merged in 2023-12, with the labels that each got.

#154 서버 버그 수정
  backend/src/constants.ts
  backend/src/product/product.service.ts
  backend/src/schema/product.schema.ts
Labels: bug, backend

#164 역대최저가 가로선 삭제
  android/app/src/main/java/app/priceguard/ui/detail/DetailActivity.kt
Labels: android, enhancement

#165 Firebase Admin SDK 연동, Message 생성
  backend/package-lock.json
  backend/package.json
  backend/src/constants.ts
  backend/src/dto/product.info.dto.ts
  backend/src/entities/firebase.token.entity.ts
  backend/src/firebase/firebase.config.ts
  backend/src/firebase/firebase.repository.ts
  backend/src/firebase/firebase.service.ts
  backend/src/product/product.module.ts
  backend/src/product/product.service.ts
  backend/src/utils/openapi.11st.ts
Labels: feature, backend

#148 Custom ProductRankCache 기능 추가
  backend/package-lock.json
  backend/package.json
  backend/src/constants.ts
  backend/src/dto/product.cache.dto.ts
  backend/src/dto/product.rank.cache.dto.ts
  backend/src/product/product.module.ts
  backend/src/product/product.service.ts
  backend/src/product/trackingProduct.repository.ts
  backend/src/utils/cache.ts
Labels: feature, backend, enhancement

#168 알림 전송 방식 변경, DB에 FCM 토큰 갱신
  backend/package-lock.json
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/dto/firebase.token.dto.ts
  backend/src/dto/product.swagger.dto.ts
  backend/src/dto/product.tracking.dto.ts
  backend/src/dto/user.swagger.dto.ts
  backend/src/entities/trackingProduct.entity.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.service.ts
  backend/src/user/user.controller.ts
Labels: feature, backend

#175 회원가입 이름 길이 제한, 비밀번호 정규식 수정
  android/app/src/main/java/app/priceguard/ui/login/LoginViewModel.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupActivity.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupViewModel.kt
  android/app/src/main/res/values/strings.xml
Labels: bug, android

#179 redis 모듈 변경, token 저장소와 global cache 적용, UserExceptionFilter 에러 처리 수정
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt/jwt.repository.ts
  backend/src/auth/jwt/jwt.service.ts
  backend/src/configs/redis.config.ts
  backend/src/constants.ts
  backend/src/entities/firebase.token.entity.ts
  backend/src/entities/token.entity.ts
  backend/src/exceptions/exception.fillter.ts
  backend/src/firebase/firebase.repository.ts
  backend/src/product/product.module.ts
  backend/src/product/product.repository.ts
  backend/src/product/product.service.ts
  backend/src/product/trackingProduct.repository.ts
  backend/src/utils/cache.ts
Labels: feature, backend

#180 FCM 메시지 옵션 추가
  backend/src/constants.ts
  backend/src/product/product.service.ts
Labels: feature, backend

#182 다름 앱에서 공유 시 상품 추가 화면으로 이동
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/ui/additem/AddItemActivity.kt
  android/app/src/main/java/app/priceguard/ui/additem/link/RegisterItemLinkFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/link/RegisterItemLinkViewModel.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/java/app/priceguard/ui/detail/DetailActivity.kt
Labels: feature, android

#185 Cron Job을 별도의 클래스로 분리
  backend/src/cron/cron.service.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.module.ts
  backend/src/product/product.service.ts
Labels: backend, enhancement

#186 [버그] 일 그래프에서 이전 데이터가 잘리던 현상 수정
  android/app/src/main/java/app/priceguard/data/GraphDataConverter.kt
Labels: bug, android

#187 usersService test 코드 작성
  backend/package-lock.json
  backend/package.json
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
Labels: backend, enhancement

#188 5주차 스프린트 기능 반영
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt/jwt.repository.ts
  backend/src/auth/jwt/jwt.service.ts
  backend/src/configs/redis.config.ts
  backend/src/constants.ts
  backend/src/cron/cron.service.ts
  backend/src/dto/firebase.token.dto.ts
  backend/src/dto/product.cache.dto.ts
  backend/src/dto/product.info.dto.ts
  backend/src/dto/product.rank.cache.dto.ts
  backend/src/dto/product.swagger.dto.ts
  backend/src/dto/product.tracking.dto.ts
  backend/src/dto/user.swagger.dto.ts
  backend/src/entities/token.entity.ts
  backend/src/entities/trackingProduct.entity.ts
  backend/src/exceptions/exception.fillter.ts
  backend/src/firebase/firebase.config.ts
  backend/src/firebase/firebase.service.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.module.ts
  backend/src/product/product.repository.ts
  backend/src/product/product.service.ts
  backend/src/product/trackingProduct.repository.ts
  backend/src/schema/product.schema.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  backend/src/utils/cache.ts
  backend/src/utils/openapi.11st.ts
Labels: feature, backend, enhancement

#189 접근성 개선
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/ProductSummaryAdapter.kt
  android/app/src/main/res/layout/activity_add_item.xml
  android/app/src/main/res/layout/activity_detail.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/activity_signup.xml
  android/app/src/main/res/layout/activity_splash_screen.xml
  android/app/src/main/res/layout/fragment_confirm_item_link.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/fragment_product_list.xml
  android/app/src/main/res/layout/fragment_register_item_link.xml
  android/app/src/main/res/layout/fragment_set_target_price.xml
  android/app/src/main/res/layout/item_my_page_list.xml
  android/app/src/main/res/layout/item_product_summary.xml
  android/app/src/main/res/values/strings.xml
Labels: feature, android, enhancement

#190 상품 링크 등록 도움말 웹뷰 보여주는 액티비티 추가
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/ui/additem/link/LinkHelperWebViewActivity.kt
  android/app/src/main/java/app/priceguard/ui/additem/link/RegisterItemLinkFragment.kt
  android/app/src/main/res/layout/activity_link_helper_web_view.xml
  android/app/src/main/res/values/strings.xml
Labels: feature, android

#183 [알람 설정] 상품 가격이 목표가 이하로 내려가면 알람을 받을 수 있다.
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/data/dto/alert/AlertUpdateResponse.kt
  android/app/src/main/java/app/priceguard/data/dto/firebase/FirebaseTokenUpdateRequest.kt
  android/app/src/main/java/app/priceguard/data/dto/firebase/FirebaseTokenUpdateResponse.kt
  android/app/src/main/java/app/priceguard/data/dto/list/ProductDTO.kt
  android/app/src/main/java/app/priceguard/data/network/ProductAPI.kt
  android/app/src/main/java/app/priceguard/data/network/UserAPI.kt
  android/app/src/main/java/app/priceguard/data/repository/product/ProductRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/product/ProductRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/data/repository/token/TokenRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/token/TokenRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/di/TokenRepositoryModule.kt
  android/app/src/main/java/app/priceguard/service/PriceGuardFirebaseMessagingService.kt
  android/app/src/main/java/app/priceguard/service/UpdateAlarmWorker.kt
  android/app/src/main/java/app/priceguard/service/UpdateTokenWorker.kt
  android/app/src/main/java/app/priceguard/ui/PriceGuardApp.kt
  android/app/src/main/java/app/priceguard/ui/data/ProductData.kt
  android/app/src/main/java/app/priceguard/ui/detail/DetailActivity.kt
  android/app/src/main/java/app/priceguard/ui/home/HomeActivity.kt
  android/app/src/main/java/app/priceguard/ui/home/ProductSummaryAdapter.kt
  android/app/src/main/java/app/priceguard/ui/home/ProductSummaryClickListener.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductFragment.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginActivity.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginViewModel.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupActivity.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupViewModel.kt
  android/app/src/main/java/app/priceguard/ui/splash/SplashScreenActivity.kt
  android/app/src/main/java/app/priceguard/ui/util/ui/NotificationSetting.kt
  android/app/src/main/res/drawable-anydpi/ic_priceguard_notification.xml
  android/app/src/main/res/drawable-hdpi/ic_priceguard_notification.png
  android/app/src/main/res/drawable-mdpi/ic_priceguard_notification.png
  android/app/src/main/res/drawable-xhdpi/ic_priceguard_notification.png
  android/app/src/main/res/drawable-xxhdpi/ic_priceguard_notification.png
  android/app/src/main/res/values/strings.xml
Labels: feature, android

#191 트래킹 상품 삭제 버그 수정, 상품 현재 가격 정보 조회 방식 변경
  backend/src/product/product.service.ts
Labels: bug, backend, enhancement

#196 홈화면 RecyclerView 토글 오류 수정
  .gitmodules
  android/app/src/main/java/app/priceguard/ui/home/ProductSummaryAdapter.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductFragment.kt
Labels: bug, android, urgent

#198 상품 상세 페이지가 로딩될때 누를 수 있는 모든 버튼을 비활성화
  android/app/src/main/res/layout/activity_detail.xml
Labels: bug, android

#195 알림 설정 오류 수정
  backend/src/constants.ts
  backend/src/firebase/firebase.config.ts
Labels: bug, backend

#200 [개선] 상세화면 스크롤 초기화 버그 해결
  android/app/src/main/res/layout/activity_detail.xml
Labels: bug, android

#201 Fragment 전환 후 복귀시 위로 스크롤이 안되는 문제 수정
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductFragment.kt
  android/app/src/main/java/app/priceguard/ui/util/ui/DisableAppBarScroll.kt
  android/app/src/main/res/layout/fragment_product_list.xml
  android/app/src/main/res/layout/fragment_recommended_product.xml
Labels: bug, android

#199 다이나믹 테마 적용이 불가능한 OS면 다이나믹 테마 설정 View 비활성화
  android/app/src/main/java/app/priceguard/ui/home/theme/ThemeDialogFragment.kt
Labels: bug, android

#203 MaterialChart 라이브러리 최신 버전으로 업데이트
  android/app/build.gradle.kts
Labels: android, enhancement

#202 dialog -> dialogFragment로 변경
  android/app/src/main/java/app/priceguard/ui/ConfirmDialogFragment.kt
  android/app/src/main/java/app/priceguard/ui/ErrorDialogFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/link/RegisterItemLinkFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/java/app/priceguard/ui/data/DialogConfirmAction.kt
  android/app/src/main/java/app/priceguard/ui/detail/DetailActivity.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductFragment.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginActivity.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupActivity.kt
  android/app/src/main/java/app/priceguard/ui/util/ui/Dialog.kt
  android/app/src/main/java/app/priceguard/ui/util/ui/NetworkDialog.kt
Labels: android, enhancement

#209 인기 상품 버그 수정, Redis TTL 설정
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt/jwt.service.ts
  backend/src/constants.ts
  backend/src/product/product.service.ts
Labels: feature, bug, backend

#211 [메모리 누수] 메모리 누수 처리
  android/app/src/main/java/app/priceguard/data/repository/product/ProductRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/ui/additem/link/LinkHelperWebViewActivity.kt
  android/app/src/main/java/app/priceguard/ui/additem/link/RegisterItemLinkFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/java/app/priceguard/ui/detail/DetailActivity.kt
  android/app/src/main/java/app/priceguard/ui/home/HomeActivity.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductFragment.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginActivity.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupActivity.kt
  android/app/src/main/java/app/priceguard/ui/util/ConfirmDialogFragment.kt
  android/app/src/main/java/app/priceguard/ui/util/Dialog.kt
  android/app/src/main/java/app/priceguard/ui/util/ImageViewAdapter.kt
  android/app/src/main/java/app/priceguard/ui/util/NotificationSetting.kt
  android/app/src/main/java/app/priceguard/ui/util/drawable/ProgressIndicator.kt
  android/app/src/main/res/layout/activity_link_helper_web_view.xml
Labels: android, enhancement

#212 버튼 연속으로 눌러서 생기는 오류 수정
  android/app/src/main/java/app/priceguard/ui/additem/AddItemActivity.kt
  android/app/src/main/java/app/priceguard/ui/additem/link/RegisterItemLinkFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceViewModel.kt
  android/app/src/main/java/app/priceguard/ui/detail/DetailActivity.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageFragment.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginActivity.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupViewModel.kt
  android/app/src/main/java/app/priceguard/ui/util/Dialog.kt
  android/app/src/main/java/app/priceguard/ui/util/NavControllerExtensions.kt
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/fragment_set_target_price.xml
Labels: bug, android

#214 [마이페이지] 이름에서 문자만 나올 수 있도록 변경
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageViewModel.kt
Labels: android, enhancement

#215 목표 가격 수정 시 가격 수정 화면 초기 값 기존 목표 가격으로 수정
  android/app/src/main/java/app/priceguard/ui/additem/AddItemActivity.kt
  android/app/src/main/java/app/priceguard/ui/additem/confirm/ConfirmItemLinkFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/java/app/priceguard/ui/detail/DetailActivity.kt
  android/app/src/main/res/layout/fragment_set_target_price.xml
  android/app/src/main/res/navigation/nav_graph.xml
Labels: bug, android

#213 시스템 글씨 크기를 키웠을때 깨지는 UI 수정
  android/app/src/main/java/app/priceguard/ui/additem/AddItemActivity.kt
  android/app/src/main/java/app/priceguard/ui/detail/DetailActivity.kt
  android/app/src/main/java/app/priceguard/ui/home/HomeActivity.kt
  android/app/src/main/java/app/priceguard/ui/home/theme/ThemeDialogFragment.kt
  android/app/src/main/java/app/priceguard/ui/intro/IntroActivity.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginActivity.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupActivity.kt
  android/app/src/main/java/app/priceguard/ui/splash/SplashScreenActivity.kt
  android/app/src/main/java/app/priceguard/ui/util/NavigationBar.kt
  android/app/src/main/res/layout/activity_detail.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/themes.xml
Labels: bug, android

#217 테마 변경 후 앱 재시작 시 테마 변경이 안되는 오류 수정
  android/app/src/main/java/app/priceguard/ui/PriceGuardApp.kt
Labels: bug, android

#216 사용자 트래킹 목록 LRU 캐시 적용
  backend/src/cache/cache.node.ts
  backend/src/cache/cache.service.ts
  backend/src/cache/rank.cache.ts
  backend/src/cache/tracking.cache.ts
  backend/src/constants.ts
  backend/src/product/product.module.ts
  backend/src/product/product.service.ts
Labels: feature, backend

#219 6주차 스프린트 기능 반영
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt/jwt.service.ts
  backend/src/cache/cache.node.ts
  backend/src/cache/cache.service.ts
  backend/src/cache/rank.cache.ts
  backend/src/cache/tracking.cache.ts
  backend/src/constants.ts
  backend/src/firebase/firebase.config.ts
  backend/src/product/product.module.ts
  backend/src/product/product.service.ts
Labels: feature, bug, backend

#220 6주차 스프린트 반영
  .gitmodules
  android/app/build.gradle.kts
  android/app/src/main/java/app/priceguard/data/repository/product/ProductRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/ui/ErrorDialogFragment.kt
  android/app/src/main/java/app/priceguard/ui/PriceGuardApp.kt
  android/app/src/main/java/app/priceguard/ui/additem/AddItemActivity.kt
  android/app/src/main/java/app/priceguard/ui/additem/confirm/ConfirmItemLinkFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/link/LinkHelperWebViewActivity.kt
  android/app/src/main/java/app/priceguard/ui/additem/link/RegisterItemLinkFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceViewModel.kt
  android/app/src/main/java/app/priceguard/ui/data/DialogConfirmAction.kt
  android/app/src/main/java/app/priceguard/ui/detail/DetailActivity.kt
  android/app/src/main/java/app/priceguard/ui/home/HomeActivity.kt
  android/app/src/main/java/app/priceguard/ui/home/ProductSummaryAdapter.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/theme/ThemeDialogFragment.kt
  android/app/src/main/java/app/priceguard/ui/intro/IntroActivity.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginActivity.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupActivity.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupViewModel.kt
  android/app/src/main/java/app/priceguard/ui/splash/SplashScreenActivity.kt
  android/app/src/main/java/app/priceguard/ui/util/ConfirmDialogFragment.kt
  android/app/src/main/java/app/priceguard/ui/util/Dialog.kt
  android/app/src/main/java/app/priceguard/ui/util/ImageViewAdapter.kt
  android/app/src/main/java/app/priceguard/ui/util/NavControllerExtensions.kt
  android/app/src/main/java/app/priceguard/ui/util/NavigationBar.kt
  android/app/src/main/java/app/priceguard/ui/util/NotificationSetting.kt
  android/app/src/main/java/app/priceguard/ui/util/drawable/ProgressIndicator.kt
  android/app/src/main/java/app/priceguard/ui/util/ui/DisableAppBarScroll.kt
  android/app/src/main/java/app/priceguard/ui/util/ui/NetworkDialog.kt
  android/app/src/main/res/layout/activity_detail.xml
  android/app/src/main/res/layout/activity_link_helper_web_view.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/layout/fragment_product_list.xml
  android/app/src/main/res/layout/fragment_recommended_product.xml
  android/app/src/main/res/layout/fragment_set_target_price.xml
  android/app/src/main/res/navigation/nav_graph.xml
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/themes.xml
  android/release_notes.txt
Labels: feature, bug, android, enhancement

#221 공유로 상품 등록 완료 후 앱이 꺼지는 현상 수정
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/java/app/priceguard/ui/data/DialogConfirmAction.kt
  android/app/src/main/java/app/priceguard/ui/util/ConfirmDialogFragment.kt
Labels: bug, android

#222 [버그] 시스템 글씨 크기 초과 시 자동 크기 조정
  android/app/src/main/res/layout-land/activity_intro.xml
  android/app/src/main/res/layout-land/activity_login.xml
  android/app/src/main/res/layout/activity_intro.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/fragment_my_page.xml
Labels: bug, android

#224 내부 QA 후 오류 수정
  android/app/build.gradle.kts
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/java/app/priceguard/ui/data/DialogConfirmAction.kt
  android/app/src/main/java/app/priceguard/ui/util/ConfirmDialogFragment.kt
  android/app/src/main/res/layout-land/activity_intro.xml
  android/app/src/main/res/layout-land/activity_login.xml
  android/app/src/main/res/layout/activity_intro.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/release_notes.txt
Labels: bug, android

#225 tracking product cache 최대 값 환경 변수로 관리
  backend/src/constants.ts
Labels: backend, enhancement

#226 오류 수정
  backend/src/cache/cache.service.ts
  backend/src/constants.ts
  backend/src/product/product.service.ts
Labels: bug, backend

#227 목표 가격 수정 시, 트래킹 cache 미반영 오류 수정
  backend/src/product/product.service.ts
Labels: bug, backend

#218 [README] README 편집
  README.md
Labels: docs

#229 상품 최초 등록시 Redis ttl 제거, tracking cache 순서 재구성 기능 누락 추가, targetPrice 최대값 설정
  backend/src/cache/cache.service.ts
  backend/src/cache/tracking.cache.ts
  backend/src/constants.ts
  backend/src/dto/product.add.dto.ts
  backend/src/product/product.service.ts
Labels: feature, bug, backend

#230 [상품 추가 화면] 가격 범위가 0~999999999 사이에서 설정되도록 수정
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/res/values/strings.xml
Labels: bug, android, enhancement

#231 [상품 추가 화면] 숫자는 보정되지 않도록 변경
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/res/layout/activity_detail.xml
Labels: bug, android

#228 [README] 리드미 서브모듈 저장소 주소 추가
  README.md
Labels: docs, enhancement

#234 6주차 2차 QA 피드백 적용
  backend/src/cache/cache.service.ts
  backend/src/cache/tracking.cache.ts
  backend/src/constants.ts
  backend/src/dto/product.add.dto.ts
  backend/src/product/product.service.ts
Labels: bug, backend

#236 [hotfix] 로그인/회원가입 정규식 수정
  android/app/src/main/java/app/priceguard/ui/login/LoginViewModel.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupViewModel.kt
Labels: bug, android, urgent

#237 [hotfix] 링크 입력 후 모두 지워도 버튼이 활성화 되는 버그 수정
  android/app/src/main/java/app/priceguard/ui/additem/link/RegisterItemLinkViewModel.kt
Labels: bug, android, urgent

#233 README 피드백 반영
  README.md
Labels: docs

#238 차트 라이브러리 버전 변경
  android/app/build.gradle.kts
  android/app/src/main/java/app/priceguard/ui/additem/link/RegisterItemLinkViewModel.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginViewModel.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupViewModel.kt
  android/release_notes.txt
Labels: android
