Repository boostcampwm2023/and09-PriceGuard, pull requests merged in 2024-03, with the labels that each got.

#256 비밀번호 찾기 기능 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/data/dto/password/ResetPasswordRequest.kt
  android/app/src/main/java/app/priceguard/data/dto/password/ResetPasswordResponse.kt
  android/app/src/main/java/app/priceguard/data/dto/verifyemail/RequestVerificationCodeRequest.kt
  android/app/src/main/java/app/priceguard/data/dto/verifyemail/RequestVerificationCodeResponse.kt
  android/app/src/main/java/app/priceguard/data/dto/verifyemail/VerifyEmailRequest.kt
  android/app/src/main/java/app/priceguard/data/dto/verifyemail/VerifyEmailResponse.kt
  android/app/src/main/java/app/priceguard/data/network/AuthAPI.kt
  android/app/src/main/java/app/priceguard/data/network/UserAPI.kt
  android/app/src/main/java/app/priceguard/data/repository/auth/AuthErrorState.kt
  android/app/src/main/java/app/priceguard/data/repository/auth/AuthRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/auth/AuthRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/data/repository/token/TokenErrorState.kt
  android/app/src/main/java/app/priceguard/data/repository/token/TokenRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/token/TokenRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/ui/data/VerifyEmailResult.kt
  android/app/src/main/java/app/priceguard/ui/login/LoginActivity.kt
  android/app/src/main/java/app/priceguard/ui/login/findpassword/EmailVerificationFragment.kt
  android/app/src/main/java/app/priceguard/ui/login/findpassword/EmailVerificationViewModel.kt
  android/app/src/main/java/app/priceguard/ui/login/findpassword/FindPasswordActivity.kt
  android/app/src/main/java/app/priceguard/ui/login/findpassword/ResetPasswordFragment.kt
  android/app/src/main/java/app/priceguard/ui/login/findpassword/ResetPasswordViewModel.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupViewModel.kt
  android/app/src/main/java/app/priceguard/ui/util/ImageViewBindingAdapter.kt
  android/app/src/main/java/app/priceguard/ui/util/TextInputLayoutBindingAdapter.kt
  android/app/src/main/java/app/priceguard/ui/util/ThrottleClickListener.kt
  android/app/src/main/res/layout/activity_find_password.xml
  android/app/src/main/res/layout/activity_login.xml
  android/app/src/main/res/layout/fragment_email_verification.xml
  android/app/src/main/res/layout/fragment_reset_password.xml
  android/app/src/main/res/navigation/nav_graph_find_password.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: feature, android

#260 swagger 문서 수정
  backend/src/auth/auth.controller.ts
  backend/src/dto/auth.swagger.dto.ts
  backend/src/dto/user.swagger.dto.ts
  backend/src/user/user.controller.ts
Labels: backend, docs

#262 이메일 프리뷰 공백 문자 변경
  backend/src/mail/mail.verification.ejs
Labels: feature, backend
