Repository boostcampwm2023/and09-PriceGuard, pull requests merged in 2024-02, with the labels that each got.

#246 상품 조회 오류 수정, 푸시 알림 shop 정보 추가, URL 검증 api 분리
  backend/src/constants.ts
  backend/src/cron/cron.service.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.service.ts
  backend/src/utils/product.info.ts
Labels: feature, bug, backend

#244 쇼핑몰 바로가기 기능 네이버 스토어 추가
  android/app/build.gradle.kts
  android/app/src/main/java/app/priceguard/data/dto/add/ProductAddRequest.kt
  android/app/src/main/java/app/priceguard/data/dto/patch/PricePatchRequest.kt
  android/app/src/main/java/app/priceguard/data/network/ProductAPI.kt
  android/app/src/main/java/app/priceguard/data/repository/product/ProductRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/product/ProductRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/di/NetworkModule.kt
  android/app/src/main/java/app/priceguard/service/PriceGuardFirebaseMessagingService.kt
  android/app/src/main/java/app/priceguard/service/UpdateAlarmWorker.kt
  android/app/src/main/java/app/priceguard/ui/additem/AddItemActivity.kt
  android/app/src/main/java/app/priceguard/ui/additem/confirm/ConfirmItemLinkFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/link/RegisterItemLinkFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceViewModel.kt
  android/app/src/main/java/app/priceguard/ui/detail/DetailActivity.kt
  android/app/src/main/java/app/priceguard/ui/detail/ProductDetailViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/ProductSummaryAdapter.kt
  android/app/src/main/java/app/priceguard/ui/home/ProductSummaryClickListener.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductFragment.kt
  android/app/src/main/java/app/priceguard/ui/splash/SplashScreenActivity.kt
  android/app/src/main/res/drawable/ic_naver_logo.xml
  android/app/src/main/res/layout/activity_detail.xml
  android/app/src/main/res/layout/fragment_confirm_item_link.xml
  android/app/src/main/res/layout/item_product_summary.xml
  android/app/src/main/res/navigation/nav_graph.xml
  android/app/src/main/res/values/strings.xml
Labels: android

#247 상세 페이지 품절 상품 표시
  android/app/src/main/java/app/priceguard/ui/detail/ProductDetailViewModel.kt
  android/app/src/main/res/layout/activity_detail.xml
  android/app/src/main/res/values/strings.xml
Labels: android

#248 URL 검증 로직 수정
  backend/src/utils/product.info.ts
Labels: bug, backend

#250 상품 최대 등록 개수 제한 추가
  android/app/build.gradle.kts
  android/app/src/main/java/app/priceguard/data/repository/product/ProductErrorState.kt
  android/app/src/main/java/app/priceguard/data/repository/product/ProductRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/res/values/strings.xml
  android/release_notes.txt
Labels: android

#251 사용자 등급별 상품 개수 제한 기능 추가
  backend/src/constants.ts
  backend/src/dto/product.swagger.dto.ts
  backend/src/entities/user.entity.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.module.ts
  backend/src/product/product.service.ts
  backend/src/product/trackingProduct.repository.ts
Labels: feature, backend

#254 상품 이름 및 이미지 갱신 추가, 품절 상품 알림 제외
  backend/src/cache/cache.service.ts
  backend/src/cron/cron.service.ts
Labels: feature, backend

#253 Release 파일을 App Bundle 형식으로 변경
  .github/workflows/firebase-deploy.yml
Labels: infra

#258 이메일 인증 여부 API 요청 방식 변경, 회원 가입 API 버전 분리, 이메일 인증 DB 반영
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/dto/user.dto.ts
  backend/src/entities/user.entity.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.service.ts
Labels: feature, backend
