Repository boostcampwm2023/and09-PriceGuard, pull requests merged in 2024-04, with the labels that each got.

#261 이메일 인증 여부 확인 및 인증 기능 추가
  android/app/src/main/java/app/priceguard/data/datastore/TokenDataSource.kt
  android/app/src/main/java/app/priceguard/data/datastore/TokenDataSourceImpl.kt
  android/app/src/main/java/app/priceguard/data/dto/isverified/IsEmailVerifiedResponse.kt
  android/app/src/main/java/app/priceguard/data/dto/signup/SignupRequest.kt
  android/app/src/main/java/app/priceguard/data/network/UserAPI.kt
  android/app/src/main/java/app/priceguard/data/repository/auth/AuthRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/auth/AuthRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/data/repository/token/TokenRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/token/TokenRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/di/NetworkModule.kt
  android/app/src/main/java/app/priceguard/ui/home/HomeActivity.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageViewModel.kt
  android/app/src/main/java/app/priceguard/ui/login/findpassword/EmailVerificationFragment.kt
  android/app/src/main/java/app/priceguard/ui/login/findpassword/EmailVerificationViewModel.kt
  android/app/src/main/java/app/priceguard/ui/login/findpassword/FindPasswordActivity.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupActivity.kt
  android/app/src/main/java/app/priceguard/ui/signup/SignupViewModel.kt
  android/app/src/main/res/layout/activity_find_password.xml
  android/app/src/main/res/layout/activity_signup.xml
  android/app/src/main/res/layout/fragment_email_verification.xml
  android/app/src/main/res/layout/fragment_my_page.xml
  android/app/src/main/res/navigation/nav_graph_find_password.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: feature, android

#264 v1.2.0용 워크플로우 오류 수정
  .github/workflows/firebase-deploy.yml
Labels: infra

#265 v1.2.0 배포용 디펜던시 오류 수정
  android/app/build.gradle.kts
Labels: android

#266 v1.2.0 배포용 워크플로우 오류 수정 롤백
  .github/workflows/firebase-deploy.yml
Labels: infra

#267 DB 서버 이전으로 이한 typeorm연결 설정 변경
  backend/src/configs/typeorm.config.ts
Labels: feature, backend

#268 v1.2.0 배포용 워크플로우 빌드 명령어 변경
  .github/workflows/firebase-deploy.yml
Labels: infra
