Repository boostcampwm2023/and09-PriceGuard, pull requests merged in 2024-01, with the labels that each got.

#241 서버 이전 설정 및 회원 탈퇴 기능 추가
  backend/.dockerignore
  backend/Dockerfile
  backend/fly.toml
  backend/src/cache/cache.service.ts
  backend/src/configs/redis.config.ts
  backend/src/configs/typeorm.config.ts
  backend/src/constants.ts
  backend/src/cron/cron.service.ts
  backend/src/dto/user.swagger.dto.ts
  backend/src/product/product.module.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
Labels: feature, backend, infra

#242 상품 가격 조회 오류 수정
  backend/src/product/product.service.ts
Labels: bug, backend

#239 회원탈퇴 기능 추가
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/data/dto/deleteaccount/DeleteAccountRequest.kt
  android/app/src/main/java/app/priceguard/data/dto/deleteaccount/DeleteAccountResponse.kt
  android/app/src/main/java/app/priceguard/data/network/UserAPI.kt
  android/app/src/main/java/app/priceguard/data/repository/auth/AuthRepository.kt
  android/app/src/main/java/app/priceguard/data/repository/auth/AuthRepositoryImpl.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/DeleteAccountActivity.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/DeleteAccountViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageSettingAdapter.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/MyPageViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/mypage/SettingItemInfo.kt
  android/app/src/main/java/app/priceguard/ui/util/ThrottleClickListener.kt
  android/app/src/main/res/drawable/ic_close_red.xml
  android/app/src/main/res/layout/activity_delete_account.xml
  android/app/src/main/res/values/strings.xml
Labels: feature, android

#240 RoundSlider 커스텀 뷰 추가
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceDialogFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceDialogViewModel.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceFragment.kt
  android/app/src/main/java/app/priceguard/ui/additem/setprice/SetTargetPriceViewModel.kt
  android/app/src/main/java/app/priceguard/ui/slider/ConvertUtil.kt
  android/app/src/main/java/app/priceguard/ui/slider/RoundSlider.kt
  android/app/src/main/java/app/priceguard/ui/slider/RoundSliderState.kt
  android/app/src/main/java/app/priceguard/ui/slider/SliderValueChangeListener.kt
  android/app/src/main/java/app/priceguard/ui/util/Dialog.kt
  android/app/src/main/java/app/priceguard/ui/util/ViewExtensions.kt
  android/app/src/main/res/drawable/ic_remove.xml
  android/app/src/main/res/layout/fragment_set_target_price.xml
  android/app/src/main/res/layout/fragment_target_price_dialog.xml
  android/app/src/main/res/values/attrs.xml
  android/app/src/main/res/values/strings.xml
Labels: feature, android

#243 스마트스토어 상품 지원 기능 추가
  backend/package-lock.json
  backend/package.json
  backend/src/constants.ts
  backend/src/cron/cron.service.ts
  backend/src/dto/product.add.dto.ts
  backend/src/dto/product.identifier.ts
  backend/src/main.ts
  backend/src/product/product.controller.ts
  backend/src/product/product.repository.ts
  backend/src/product/product.service.ts
  backend/src/utils/openapi.11st.ts
  backend/src/utils/product.info.ts
Labels: feature, backend

#245 로딩 애니메이션 추가
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/list/ProductListViewModel.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductFragment.kt
  android/app/src/main/java/app/priceguard/ui/home/recommend/RecommendedProductViewModel.kt
  android/app/src/main/java/app/priceguard/ui/util/drawable/ProgressIndicator.kt
  android/app/src/main/res/layout/fragment_product_list.xml
  android/app/src/main/res/layout/fragment_recommended_product.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: android, enhancement
